body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'JetBrains Mono', monospace;
    color: white;
}
.login_background{
    background-image: url('./images/loginBack.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.fa-cogs{
    color: white;
    position: absolute;
    top: 3%;
    right: 5%;
    font-size: 2rem;
}
form{
    margin: 2% auto;
    box-shadow: 0 0 5px lightgray;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    padding: 40px 0;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 6px;
    position: relative;
}

form h1{
    font-family: 'Black Ops One', cursive;
    text-transform: uppercase;
    padding: 0 0 30px 0;
}
form .google-btn{
    margin: 25px auto;
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background: white;
    padding: 10px 20px;
    font-size: 1.2rem;
}

form .btn-outline-light{
    width: 22%;
    margin: 0 auto;
}

form .google-btn:visited{
    color: black;
}

form .google-btn:hover{
    color: white;
    background: darkred;
    transition: 250ms;
}
form a{
    color: white;
}
form a:visited{
    color: white;
}

input{
    margin: 0 auto;
}
label{
    margin: 15px auto;
}
input[type=text],input[type=email]{
    width: 50%;
    padding: 5px 8px;
    border: none;
    border-bottom: 1px solid lightgray;
    background: rgba(0, 0, 0, 0);
    color: white;
}
input[type=text]:focus,input[type=email]:focus{
    border: 5px solid lightgray;
    transition: 250ms;
    padding: 6px 15px;
    width: 55%;
}
input[type=submit]{
    width: 27.5%;
    margin:35px auto;
    padding: 5px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 10px;
}
input[type=submit]:hover{
    color: white;
    background: black;
    transition: 250ms;
    transform: scale(0.95);
    border: 1px solid white;
}
input[type=submit]:active{
    transform: scale(1.05);
    transition: 250ms;
}